.input-counter {
    display: flex;
    flex-direction: row;

    input[type=number] {
        max-width: 70px;
        height: inherit;
        display: inline-block;
        border-radius: 0;
        text-align: center;
        -moz-appearance: textfield;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }
    
    .btn {
        border-radius: 0;
        border-color: #ced4da;
    }
}

.BookingSearchInput {
    .input-counter {
        height: 100%;
    }
}